.block-03 {
	background-image: url(../i/bg-block-03.jpg);
	background-color: #051526;
	background-repeat: no-repeat;
	height: 587px;
}

.block-03 .h2 {
	color: #fff;
}

.block-03 .h2 span:after {
	content: '';
	background-color: #fff;
}

.objects {
	padding: 65px 0 0;
}

.objects .object-type {
	display: inline-block;
	width: 230px;
	vertical-align: top;
}

.objects .object-type .object-type-name {
	color: #fc9600;
	font-family: 'PF Din Display Pro';
	font-size: 20px;
	font-weight: bold;
}

.objects .object-elements {
	padding: 5px 0 63px;
}

.objects .object-elements .object-element {
	font-family: 'PF Din Display Pro';
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	position: relative;
	line-height: 30px;
	padding-left: 25px;
}

.objects .object-elements .object-element:before {
	content: '';
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	background-image: url(../i/li-object.png);
	background-repeat: no-repeat;
	top: 5px;
	left: 0;
}

.block-04 {
	height: 390px;
	background-image: url(../i/bg-block-04.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.block-form-02 {
	width: 470px;
	position: absolute;
	top: 10px;
	right: 186px;
}

.block-form-02 .block-form:before {
	display: none;
}

.block-form-02 .form-title {
	text-align: left;
	font-size: 36px;
	line-height: 41px;
	color: #040f21;
}

.block-form-02 .block-form .input-name , .block-form-02 .block-form .input-phone{
	padding: 7px 0;
}

.block-form-02 .block-form .input-submit {
	padding: 14px 0;
}

.block-form-02 .block-form {
	margin-right: 135px;
	background-image: none;
}

.block-form-02 .confidential a {
	color: #2a222e;

}

.block-form-02 .block-form .input {
	background-color: #f5f8fa;
	border: 2px solid #a5acb5;
	border-radius: 9px;
	height: 38px;
}

.block-form-02 .btn {
	font-size: 18px;
}

.block-05 {
	background-color: #f7fbfc;
}

.equipments {
	padding: 40px 0;
}

.equipments .equipmens-element {
	display: inline-block;
	vertical-align: top;
	width: 221px;
	padding: 0 20px 20px 0;
	margin-left: -5px;
}

.equipments .equipmens-element:nth-child(4n) {
	padding-right: 0;	
}


.equipments .equipmens-element .equipment-image {
	height: 162px;
	background-repeat: no-repeat;
	text-align: center;
	background-repeat: no-repeat;
 	background-position: center 14px;
}

.equipments .equipment-image img {
	display: inline-block;
	border-radius: 5px;
	padding: 3px 0 0;
}

 .equipments .equipmens-element  .equipment-01 {
 	background-image: url(../i/equipment/e01.jpg);
 }

  .equipments .equipmens-element  .equipment-02 {
 	background-image: url(../i/equipment/e02.jpg);
 }

  .equipments .equipmens-element  .equipment-03 {
 	background-image: url(../i/equipment/e03.jpg);
 }

  .equipments .equipmens-element  .equipment-04 {
 	background-image: url(../i/equipment/e04.jpg);
 }

  .equipments .equipmens-element  .equipment-05 {
 	background-image: url(../i/equipment/e05.jpg);
 }

  .equipments .equipmens-element  .equipment-06 {
 	background-image: url(../i/equipment/e06.jpg);
 }

  .equipments .equipmens-element  .equipment-07 {
 	background-image: url(../i/equipment/e07.jpg);
 }

  .equipments .equipmens-element  .equipment-08 {
 	background-image: url(../i/equipment/e08.jpg);
 }

  .equipments .equipmens-element  .equipment-09 {
 	background-image: url(../i/equipment/e09.jpg);
 }

  .equipments .equipmens-element  .equipment-10 {
 	background-image: url(../i/equipment/e10.jpg);
 }

  .equipments .equipmens-element  .equipment-11 {
 	background-image: url(../i/equipment/e11.jpg);
 }

  .equipments .equipmens-element  .equipment-12 {
 	background-image: url(../i/equipment/e12.jpg);
 }

 .equipments .equipment-title {
	color: #307fb3;
	font-size: 21px;
	padding: 3px 0 0 8px;
 }

 .equipments .equipment-title-small {
 	font-size: 18px;
 }

.equipments .equipment {
	padding: 10px 0;
}

.equipments .equipment .equipment-name {
	color: #080f27;
	font-size: 18px;
	line-height: 27px;
	position: relative;
	padding-left: 25px;
}

.equipments .equipment .equipment-name:before {
	content: '';
	display: block;
	width: 17px;
	height: 17px;
	background-image: url(../i/li-object.png);
	position: absolute;
	top: 5px;
	left: 0;
}

.equipments .equipment-description {
	font-size: 18px;
	color: #080f27;
	padding: 15px 0 0 10px;
}

.block-06 {
	height: 390px;
	background-image: url(../i/bg-block-06.jpg);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}


.block-form-03 {
	width: 470px;
	position: absolute;
	top: 10px;
	right: 186px;
}

.block-form-03 .block-form:before {
	display: none;
}

.block-form-03 .form-title {
	text-align: left;
	font-size: 36px;
	line-height: 41px;
	color: #040f21;
}

.block-form-03 .form-title .sub-title {
	color: #8bc0c7;
	font-size: 30px;
	text-transform: none;
	display: block;
	font-weight: normal;
}

.block-form-03 .block-form .input-name , .block-form-03 .block-form .input-phone{
	padding: 7px 0;
}

.block-form-03 .block-form .input-submit {
	padding: 14px 0;
}

.block-form-03 .block-form {
	margin-right: 135px;
	background-image: none;
}

.block-form-03 .confidential a {
	color: #2a222e;

}

.block-form-03 .block-form .input {
	background-color: #f5f8fa;
	border: 2px solid #8bc0c7;
	border-radius: 9px;
	height: 38px;
}

.block-form-03 .btn {
	font-size: 18px;
}